<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBsuxCwzcno7HuI8OqMFbBgfMBxVfCy8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>380611916279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyoon.zestinme</string>
	<key>PROJECT_ID</key>
	<string>zestinme-8f1bf</string>
	<key>STORAGE_BUCKET</key>
	<string>zestinme-8f1bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380611916279:ios:d6d859e4f45b8634acfef2</string>
</dict>
</plist>